In [3]:
# Import the required libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# Import the required plotly libraries

import plotly.plotly as py
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

In [5]:
# Here we have used SIPRI (STOCKHOLM INTERNATIONAL PEACE RESEARCH INSTITUTE) and World Bank DataBank as Data Source 
# Read the military expenditure and gdp data of Last Decade

military_spending = pd.read_csv("~/Python_Project/military_expenditure_in_usd.csv")
gdp = pd.read_csv("~/Python_Project/gdp_data_in_usd.csv")

In [6]:
# Inspect first few rows of the data 

military_spending.head()
gdp.head()

,Country Name,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Afghanistan,9.843842e+09,1.019053e+10,1.248694e+10,1.593680e+10,1.793024e+10,2.053654e+10,2.004633e+10,2.005019e+10,1.970299e+10,1.946902e+10
1,Albania,1.070101e+10,1.288135e+10,1.204421e+10,1.192695e+10,1.289087e+10,1.231978e+10,1.278103e+10,1.321986e+10,1.139037e+10,1.192689e+10
2,Algeria,1.349771e+11,1.710007e+11,1.372110e+11,1.612073e+11,2.000131e+11,2.090474e+11,2.097835e+11,2.139831e+11,1.647795e+11,1.560796e+11
3,American Samoa,5.200000e+08,5.630000e+08,6.780000e+08,5.760000e+08,5.740000e+08,6.440000e+08,6.390000e+08,6.380000e+08,6.410000e+08,NaN
4,Andorra,4.010991e+09,4.001201e+09,3.650083e+09,3.346517e+09,3.427023e+09,3.146152e+09,3.248925e+09,NaN,NaN,NaN

In [7]:
# Replace the non-numeric data with NaN (Not a Number) 


military_spending = military_spending.replace("..",np.nan)
military_spending = military_spending.replace("...",np.nan)
military_spending = military_spending.replace(". .",np.nan)
military_spending = military_spending.replace(". . .",np.nan)
military_spending = military_spending.replace("xxx",np.nan)

gdp = gdp.replace("..",np.nan)
gdp = gdp.replace("...",np.nan)
gdp = gdp.replace(". .",np.nan)
gdp = gdp.replace(". . .",np.nan)
gdp = gdp.replace("xxx",np.nan)

In [8]:
# Remove the rows which contains NA

military_spending = military_spending.dropna(axis=0,how='any')
gdp = gdp.dropna(axis=0,how='any')

In [9]:
# Check if all the values are non-null in the dataset

military_spending.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 132 entries, 0 to 169
Data columns (total 13 columns):
Country      132 non-null object
2007         132 non-null object
2008         132 non-null object
2009         132 non-null object
2010         132 non-null object
2011         132 non-null object
2012         132 non-null object
2013         132 non-null object
2014         132 non-null object
2015         132 non-null object
2016         132 non-null object
Region       132 non-null object
Continent    132 non-null object
dtypes: object(13)
memory usage: 14.4+ KB

In [10]:
# Merge the gdp data with military spending for the matching country names

gdp_military_spending = (gdp.merge(military_spending,left_on='Country Name', right_on='Country', how='inner'))

In [11]:
gdp_military_spending.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 123 entries, 0 to 122
Data columns (total 24 columns):
Country Name    123 non-null object
2007_x          123 non-null float64
2008_x          123 non-null float64
2009_x          123 non-null float64
2010_x          123 non-null float64
2011_x          123 non-null float64
2012_x          123 non-null float64
2013_x          123 non-null float64
2014_x          123 non-null float64
2015_x          123 non-null float64
2016_x          123 non-null float64
Country         123 non-null object
2007_y          123 non-null object
2008_y          123 non-null object
2009_y          123 non-null object
2010_y          123 non-null object
2011_y          123 non-null object
2012_y          123 non-null object
2013_y          123 non-null object
2014_y          123 non-null object
2015_y          123 non-null object
2016_y          123 non-null object
Region          123 non-null object
Continent       123 non-null object
dtypes: float64(10), object(14)
memory usage: 24.0+ KB

In [12]:
# Delete the duplicate column

del gdp_military_spending['Country Name']

In [13]:
# Set the row index as country name as it is unique identifier

gdp_military_spending = gdp_military_spending.set_index('Country')

In [14]:
# Convert the numerical data into numeric data type from object

gdp_military_spending.loc[:,'2007_x':'2016_y'] = gdp_military_spending.loc[:,'2007_x':'2016_y'].apply(pd.to_numeric)

In [15]:
# Subset the data for year 2016 gdp and military spending

gdp_military_spending_2016 = gdp_military_spending.loc[:,['2016_x','2016_y']]

In [16]:
# Rename the column names

gdp_military_spending_2016.columns = ['GDP (US $)','Military Spending (US $)']

In [17]:
# Sort the data on the basis of top military expenditures

gdp_military_spending_2016_sorted = (gdp_military_spending_2016.sort_values
                                                    (by='Military Spending (US $)',ascending=False))

In [18]:
# Round the data for nearest integer

gdp_military_spending_2016_sorted = (gdp_military_spending_2016_sorted.round
                                        ({'GDP Per Capita (US $)':0,'Military Spending Per Capita (US $)':0}))

In [19]:
# Subset for top 20 military expenditure nations

gdp_military_spending_2016_top20 = gdp_military_spending_2016_sorted.iloc[0:20,]

In [20]:
# Save the results to export to plotly

gdp_military_spending_2016_top20.to_csv("gdp_military_spending_2016_top20.csv")

In [22]:
# Fetch the graph from online plotly and display
py.sign_in('iamDeepakA','priXUwppx0TKp9sswWmk')
fig = py.get_figure('https://plot.ly/~iamDeepakA/28/', raw=False)
py.iplot(fig)

In [24]:
# Prepare the data for top 20 military expenditure nation for 2015

gdp_military_spending_2015 = gdp_military_spending.loc[:,['2015_x','2015_y']]

gdp_military_spending_2015.columns = ['GDP (US $)','Military Spending (US $)']

gdp_military_spending_2015.head()

gdp_military_spending_2015_sorted = (gdp_military_spending_2015.sort_values
                                                    (by='Military Spending (US $)',ascending=False))

gdp_military_spending_2015_sorted = (gdp_military_spending_2015_sorted.round
                                        ({'GDP Per Capita (US $)':0,'Military Spending (US $)':0}))

gdp_military_spending_2015_top20 = gdp_military_spending_2015_sorted.iloc[0:20,]

gdp_military_spending_2015_top20

gdp_military_spending_2015_top20.to_csv("gdp_military_spending_2015_top20.csv")

In [23]:
# Fetch the graph from online plotly and display
py.sign_in('iamDeepakA','priXUwppx0TKp9sswWmk')
fig = py.get_figure('https://plot.ly/~iamDeepakA/32/', raw=False)
py.iplot(fig)